* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 100px;
}

.container-fluid img {
    margin: 5px;
    border-radius: 20px;
    border: 3px solid #945083;
    flex-shrink: 0;
}

.navbar-brand {
    font-family: cursive;
    font-weight: 700;
}

/* Estilos para a nav */
.nav-container{
  display: flex;
  margin-top: 8%;
  align-items: center;
  padding: 30px;
  gap: 10px; /* Espaçamento entre a imagem e o texto */
}
.nav-img {
  width: 180px;
  height: 180px;
  border: 3px solid rgb(122, 125, 122);
  border-radius: 100%; /* Transforma o contêiner em um círculo */
}
.nav-text {
  max-width: 300px;
  color: #1f132c;
  font-size: 18px;
  font-weight: 540;
  font-family: cursive;
}
header {
  display: flex; /* Define o layout como flexbox */
  width: 100%; /* Garante que o contêiner ocupe toda a largura */
  margin-top: 10px;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  background-color: rgb(238, 180, 209);
}
.row {
  padding: 5px 10px;
}

 .footer {
  background-color: #0b0b0c;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column; /* Altera o fluxo dos itens para uma coluna */
  align-items: center; /* Centraliza os itens na horizontal */
  margin-top: 10px; /* Adiciona margem superior para afastar do conteúdo principal */
}

.footer h5 {
  color: #fff;
  margin-top: 5px; /* Adiciona um espaço acima do h5 */
}




