

navbar-brand {
    font-family: cursive;
    font-weight: 700;
    font-size: 32px;
}


.container-fluid img {
    margin: 5px;
    border-radius: 20px;
    border: 3px solid #945083;
    flex-shrink: 0;
}

.navbar-brand {
    font-family: cursive;
    font-weight: 700;
    font-size: 32px;
}

/* Estilos para a nav */
.nav-container{
  display: flex;
  margin-top: 8%;
  align-items: center;
  padding: 30px;
  gap: 10px; /* Espaçamento entre a imagem e o texto */
}
.nav-img {
  width: 190px;
  height: 190px;
  border: 3px solid rgb(122, 125, 122);
  border-radius: 100%; /* Transforma o contêiner em um círculo */
}
.nav-text {
  max-width: 300px;
  color: #1f132c;
  font-size: 18px;
  font-weight: 540;
  font-family: cursive;
}

.clearfix {
    margin: 0 25px;
}

header {
  display: flex; /* Define o layout como flexbox */
  width: 100%; /* Garante que o contêiner ocupe toda a largura */
  margin-top: 30px;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #f5f5f5;
}

.card-body {
  margin-top: 100px;
  background-color: #e3f2fd;
}


.pagamento-planos {
  text-align: center;
  margin-top: 40px;

}

.botoes-pagamento {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.botao-plano {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s ease;
}

.botao-plano img {
  height: 30px;
}

.botao-plano:hover {
  background-color: #005bb5;
}


.footer {
  background-color: #0b0b0c;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column; /* Altera o fluxo dos itens para uma coluna */
  align-items: center; /* Centraliza os itens na horizontal */
  margin-top: 10px; /* Adiciona margem superior para afastar do conteúdo principal */
}

.footer h5 {
  color: #fff;
  margin-top: 5px; /* Adiciona um espaço acima do h5 */
}

.whatsapp-flutuante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  padding: 12px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  animation: pular 1.5s infinite;
  transition: transform 0.2s;
}
.whatsapp-flutuante:hover {
  transform: scale(1.1);
}
@keyframes pular {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}


@media (max-width: 768px) {
  .nav-container{
  margin-top: 20%;
  padding: 40px 5px;
}

.nav-text {
  color: #9945f3;
  font-size: 18px;
}

}

@media (max-width: 1280px ) {
  
.nav-container {
  margin-top: 15%;
}
@media (max-width: 844px ) { 
  .nav-container {
    margin-top: 20%;
}
}
}